<p id="notice"><%= notice %></p>

<h2>
  <strong><%= @book.title %></strong>
</h2>

<div class="panel panel-default">
  <div class="panel-body"><%= @book.description %></div>
</div>

<% unless current_user.nil? %>
  <%= render 'books/show-buttons'%>
<% end %>

<h4>
  Number of copies available:
  <%= @book.number_of_copies %>
</h4>
<br>

  <h3 style="margin-left: 4rem;">Your Past Orders</h3>

  <ul class="list-group-flush">
    <% @orders.each do |order| %>
      <% if order.closed? %>
        <li class="list-group-item">
          <%= render order, locals: { order: order }%>
        </li>
      <% end %>
    <% end %>
  </ul>


